<div class="main-container">
  <div class="qa-row qa-row--question">
    <div class="qa-container">
      <div class="qa-container__logo">
        <div>X</div>
      </div>
      <div class="qa-container__text">Ceci est une question?</div>
    </div>
  </div>
  <div class="qa-row qa-row--answer">
    <div class="qa-container">
      <div class="qa-container__logo">
        <img src="./../assets/images/SL.png" alt="chialeux">
      </div>
      <div class="qa-container__text">Ceci est une réponse</div>
    </div>
  </div>
  <div class="qa-row qa-row--question">
    <div class="qa-container">
      <div class="qa-container__logo">
        <div>X</div>
      </div>
      <div class="qa-container__text">Ceci est une question?</div>
    </div>
  </div>
  <div class="qa-row qa-row--answer">
    <div class="qa-container">
      <div class="qa-container__logo">
        <img src="./../assets/images/SL.png" alt="chialeux">
      </div>
      <div class="qa-container__text">Ceci est une réponse</div>
    </div>
  </div>
  <div class="qa-row qa-row--question">
    <div class="qa-container">
      <div class="qa-container__logo">
        <div>X</div>
      </div>
      <div class="qa-container__text">Ceci est une question?</div>
    </div>
  </div>
  <div class="qa-row qa-row--answer">
    <div class="qa-container">
      <div class="qa-container__logo">
        <img src="./../assets/images/SL.png" alt="chialeux">
      </div>
      <div class="qa-container__text">Ceci est une réponse</div>
    </div>
  </div>

  <div class="sticky-footer">
    <div class="form-container">
      <input type="text">
      <a class="send-button">Send</a>
    </div>
  </div>
</div>




