<div class="main-container">
  <div *ngFor="let qa_item of list_question_answer" class="qa-row"
       [ngClass]="{'qa-row--answer': qa_item.type == 'ANSWER',
                   'qa-row--question': qa_item.type == 'QUESTION'}">
    <div class="qa-container">
      <div class="qa-container__logo">
        <img *ngIf="qa_item.type == 'ANSWER'" src="./../assets/images/SL.png" alt="chialeux">
        <div *ngIf="qa_item.type == 'QUESTION'">X</div>
      </div>
      <div class="qa-container__text">{{ qa_item.text }}</div>
    </div>
  </div>

  <div class="sticky-footer">
    <form (ngSubmit)="sendQuestion()" class="form-container">
      <input type="text" [(ngModel)]="question" [ngModelOptions]="{standalone: true}">
      <button class="send-button" type="submit">Send</button>
    </form>
  </div>
</div>




